{% load static %}
<footer class=" foot">
  <section class="lastpart">
    <div class="container">
      <div class="details">
        <div class="name col-mb-2">
          <h6 class="text-uppercase fw-bold mb-2"><i class="fas fa-gem me-3"></i>Farm Fusion</h6>
        </div>
        <div class="pro col-mb-5">
          <h6>Products</h6>
          <p><a href="{% url 'product' %}">Our Products</a></p>

          <p><a href="#!">contact us</a></p>
        </div>
    </div>
  </section>
  <div class=" copy text-center p-4" style="color: rgb(246, 239, 239);">
    ©2024 Farmfusion, LLC. All rights reserved.
  </div>
</footer>
<!-- Footer -->